#navbar {
    text-shadow: 0px 0px 10px #000000;
    display: flex;
    justify-content: space-evenly;
    background:transparent;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 50px;
    color: #eff9ff;
    font-size: 28px;
}
  

#image-wrapper {
    width: 100%
}


.cloud {
    width: 400px;
    height: auto;
    position: absolute;
    white-space: wrap;
    top: 0;
    left: 0;
    opacity: 0.75;
    z-index: -10;
    animation: slide 20s linear infinite;
}

.cloud-2 {
    top: -50px;
    left: 100px;
    width: 400px;
    height: auto;
    animation: slide 15s linear infinite;
}

.cloud-3 {
    top: -50px;
    left: 200px;
    width: 800px;
    height: auto;
    animation: slide 30s linear infinite;
}

@keyframes slide {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-500px);
  }
}


#navbar a {
    color: #eff5ff;
    text-decoration: none;
    font-size: 35px;
    transition: color 0.2s;
}
  
#navbar a:hover {
    color: #d9dff2;
}