#about h2 {
    text-align: center;
    font-size: 44px;
}


.toggler {
    position: absolute;
    background-color: #2e073f;
    cursor: pointer;
    left: 0;
    font-size: medium;
    color: #e5d9f2;
    margin-top: 0;
}