#about h2 {
    text-align: center;
    font-size: 44px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.toggler {
    background-color: #2e073f;
    cursor: pointer;
    left: 0;
    font-size: medium;
    color: #e5d9f2;
    margin-top: 0;
}