#chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 25dvw;
    height: 75dvh;
}

#chat-log {
    display: flex;
    flex-direction: column;
    height: 495px;
    gap: 20px;
    padding-top: 10px;
    overflow-y: auto;
    width: 100%;
}

#chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}


#chat-wrapper {
    height: 100%;
    flex-direction: column;
}

#chat-log::-webkit-scrollbar {
  display: none;              /* Chrome/Safari */
}


.chatbox {
    position: relative;
    width: 90%;
    align-self: center;
}

#chatbot {
    margin: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

#toggle-chatbot-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgb(192, 192, 192);
    width: 60px;
    height: 60px;
}
#toggle-chatbot-button:hover {
    background-color: rgb(160, 160, 160);
}

#chatComponent {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.x {
    position: absolute;
    top: -25px;
    right: -10px;
    font-size: 0.8rem;
    padding: 2px 5px;
    border-radius: 50%;
    border-width: 0.2rem;
}

.chatbot-response {
    max-width: 75%;
    font-size: 12px;
    margin-right: auto;
    background-color: #e5d9f2;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-align: left;
}
  
.user-message {
    font-size: 12px;
    max-width: 75%;
    margin-left: auto;
    background-color: #8d77ab;
    color: #f5efff;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
}
  

#submit-button {
    font-size: 20px;
}

#submit-form {
  padding-top: 10px;

}

input::placeholder {
    color: #8d77ab;
}
  

input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #2e073f;
    border-radius: 3px;
    background-color: #f5efff;
    color: #2e073f;
}
  
input[type="text"]:focus {
    outline: none;
    border: 2px solid #2e073f;
}

#submit-image {
    width: 20px;
    height: 20px;
    filter: invert(1);
}