body {
  font-family: "Arial";

  background-image: url("/asadal.jpg");
  background-size: cover;        /* fill screen */
  background-position: center;   /* center image */
  background-repeat: no-repeat;  /* prevent tiling */
  background-attachment: fixed;
  color: #000;
}

.glass::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.1) 40%,
    rgba(255,255,255,0.0)
  );
  pointer-events: none;
}

.glass {
  width: 50vw;
  margin: 30px auto;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding: 25px 8px 8px 8px;
  z-index: 1;
  background: rgba(170, 210, 255, 0.22);

  backdrop-filter: blur(20px) saturate(140%);
  -webkit-backdrop-filter: blur(20px) saturate(140%);

  border: 1px solid rgba(255,255,255,0.6);

  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.8),
    0 10px 30px rgba(0,0,0,0.25);
}

.glass > * {
  position: relative;
  z-index: 1;
}

.glass-chat {
  margin: 0;
    position: fixed;
    bottom: 80px;

}

.innerContainer {
  padding: 15px 10px 10px 10px;
  background-color: white;
  border-radius: 5px;
  color: #000;
  
}

h2 {
  text-align: center;
  z-index: 10;
  color: black;
  font-size: 44px;
}

#about {
  font-size: medium;
}
#chat,
#projects,
#exp,




#projects h2,
#about h2,
#chat h2,
#exp h2 {
  text-align: center;
  font-size: 35px;
  /* margin-bottom: 15px; */
  position: relative;
}

.project,
.job {
  background: #d9ddf2;
  margin: 0 auto;
  /* margin-bottom: 30px; */
  width: 75%;
  padding: 25px;
}

#projects li,
.job li {
  margin-left: 25px;
}

button {
  padding: 0.4rem 0.8rem;
  border: 0.2rem solid #070f3f;
  border-radius: 0.2rem;
  background-color: #071d3f;
  color: #e5d9f2;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #e5d9f2;
  color: #07113f;
}
